.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main_div {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  margin-top: 15%;
  padding: 10px;
}

.plot_selectors {
  width: fit-content;
}

.App-link {
  color: #09d3ac;
}